@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    direction: rtl;
    font-family: 'Alexandria', sans-serif;
   
}
body{
    background:#E8E8E8;
}
@layer components{
    .model {
    position: fixed;
     width: 40%;
     height: 40%;
     top: 50%;
     left: 50%;
     transform: translate(-50% , -50%);
     border-radius: 0.375rem;
    
    }
}

table
thead
tr
th{
    font-weight: normal;
    font-size: 15px;
   
}
table
tbody
tr
td{
    font-weight: normal;
    font-size: 13px;
    color: #707070;
   
}